---
import SectionLayout from "../../layouts/SectionLayout.astro";
import ScrollArrow from "../../components/ScrollArrow.astro";

interface Props {
  h1Text?: string;
  subtitle?: string;
  para?: string;
  h2Text?: string;
  para2?: string;
}

const {
  h1Text = "London, Manchester, Birmingham.",
  subtitle = "Joining the dots so you don’t have to.",
  para = "We connect you to calendar insights of over 4000 UK event buyers in...",
  h2Text = "",
  para2 = "",
} = Astro.props;
---

<SectionLayout
  variant="image"
  imageFolder="connect"
  imageName="pexels-didsss-2127522.jpg"
  className="Section01"
  heightVariant="tall"
>
  <section>
    <h1 class="h1-wrapper h1-container masked">
      {h1Text}
    </h1>
    <h2 class="subtitle">{subtitle}</h2>
    <p class="normal-text para-wrapper para-container">
      {para}
    </p>

    <h2 class="h2-wrapper">
      {h2Text}
    </h2>
    <p class="para2-wrapper">
      {para2}
    </p>
  </section>

  <slot />
</SectionLayout>
<ScrollArrow />

<style lang="scss">
  section {
    display: flex;
    font-weight: 100;
    // flex-direction: row;
    min-height: 100vh;
    // justify-content: center;
    // align-items: center;
    // padding: 2rem 1rem;
  }

  .para-wrapper {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
    background-color: white;
    mix-blend-mode: overlay;
    opacity: 0.9;

    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
  }

  .subtitle {
    color: #f5efcb;
  }
  //first half
  @include for-size(desktopLg, down) {
    .h1-wrapper {
      display: flex;
      position: absolute;
      opacity: 0.7;
      color: white;
      -webkit-background-clip: white;
      -webkit-text-stroke: 1px white;
      width: 200vh;
      top: 55vh;
      left: 10vw;
      font-size: clamp(3rem, 8vw, 8rem);
    }

    .subtitle {
      display: flex;
      position: absolute;
      opacity: 0.7;
      color: white;
      -webkit-background-clip: white;
      -webkit-text-stroke: 1px white;
      width: 200vh;
      top: 70vh;
      left: 10vw;
      font-size: clamp(1.5rem, 4vw, 2rem);
    }
    .para-wrapper {
      position: absolute;
      top: 10vh;
      left: 50%;
      width: 70vh;
      margin-top: 2rem;
      font-size: clamp(1.5rem, 4vw, 5rem);

      /* masked styling */
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
      background-color: white;
      mix-blend-mode: overlay;
      opacity: 0.9;

      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    }
  }

  //second half

  @include for-size(tablet, up) {
    .para2-wrapper {
      display: flex;
      position: absolute;
      top: 108vh;
      left: 25vh;
      opacity: 0.7;
      width: 50vh;
      color: white;
      margin-top: 2rem;
      font-size: clamp(1rem, 15vh, 2.5rem);
    }

    .h2-wrapper {
      display: flex;
      position: absolute;
      top: 130vh;
      left: 85vh;
      width: 50vh;
      opacity: 0.8;
      color: #f7f1d1;
      font-size: clamp(2rem, 12vw, 7rem);
    }
  }

  //first half

  @include for-size(phone, down, portrait) {
    .h1-wrapper {
      display: flex;
      top: 40vh;
      left: 8vh;
      width: 50vh;
      opacity: 0.8;
      margin: 1rem auto;
      font-size: clamp(4rem, 15vw, 10rem);
      color: white;
    }

    .para-wrapper {
      display: flex;
      top: 5vh;
      left: 55%;
      min-width: 25vh;
      max-width: 30vh;
      opacity: 2;
      font-size: clamp(1rem, 10vh, 1.8rem);
      /* masked styling */
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
      background-color: white;
      mix-blend-mode: overlay;
      opacity: 0.9;

      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    }

    .subtitle {
      display: flex;
      top: 85vh;
      left: 10vh;
      width: 50vh;
      opacity: 1;
      margin: 1rem auto;
      font-size: clamp(2rem, 8vw, 2rem);
      color: #f7f1d1;
    }
  }

  //second half
  @include for-size(tablet, down) {
    .para2-wrapper {
      display: flex;
      position: absolute;
      top: 105vh;
      left: 10vh;
      opacity: 0.8;
      width: 45vh;
      color: white;
      margin-top: 2rem;
      font-size: clamp(1rem, 15vh, 2rem);
    }

    .h2-wrapper {
      display: flex;
      position: absolute;
      top: 130vh;
      left: 5vh;
      opacity: 0.8;
      color: #f7f1d1;
      font-size: clamp(2rem, 15vw, 9rem);
    }
  }
</style>
