---
import SectionLayout from "@/layouts/SectionLayout.astro";
import LogoBrand from "../MoneypenniesLogo/LogoBrand.astro";

const linkedIn = "https://www.linkedin.com/in/moneypennies/";
const address = "Manchester Suite B 2 Edge Lane Manchester M21 9JF";
const copyRight = "© Oliver’s Data Holdings Ltd t/a Moneypennies";
const gdpr = ""; //check if we need this

// const tagLine = "connections that count";
const logo = "";
---

<SectionLayout
    variant="color"
    allowOverflow={true}
    textWidth="full"
    className="Section03"
    heightVariant="normal"
>
    <footer
        class="section__footer bg-stone-black py-20 border-t-[0.5px] border-white"
    >
        <section
            class="container__tagline uppercase font-light flex-col items-center justify-center"
        >
            <LogoBrand />
            <h5 class="lg__font footer__logo">{logo}</h5>
            <!-- <p class="lg__font footer__tagline">{tagLine}</p> -->
        </section>
        <hr class="md__hr" />
        <section class="footer--container__button">
            <ul
                class="footer__url flex flex-row items-center justify-between px-8 py-8"
            >
                <li class="flex-end">
                    <a
                        class="button--nav"
                        onclick="window.location.href='/contact/'"
                    >
                        <span class="button--nav__text">connect</span>
                    </a>
                </li>
                <li class="flex-start">
                    <a
                        class="button--nav"
                        onclick="window.location.href='www.linkedin.com/in/moneypennies/'"
                    >
                        <span class="button--nav__text">linkedIn</span>
                    </a>
                </li>
            </ul>
        </section>
        <hr class="md__hr" />

        <section>
            <ul class="footer__info flex-row justify-between tn__font">
                <li><p>{copyRight}</p></li>
                <li><p>{gdpr}</p></li>
                <li>
                    <p>{address}</p>
                    <a href="/privacy">privacy policy</a>
                </li>
            </ul>
        </section>
    </footer>
</SectionLayout>

<style lang="scss">
    // .footer__logo {
    //     width: 10rem;
    //     height: 10rem;
    // }
    .container__tagline {
        position: relative;
        gap: 5vw;
        padding: 0rem 2rem 5rem 2rem;
        flex-grow: 1;
        will-change: transform;
        transition: transform 0.1s ease-out;
    }

    // .footer--container__button {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     position: relative;
    // }
    .section__footer {
        // background-color: #293442;
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // align-self: center;
        // // height: 60vh;
        // padding: 1rem;
    }

    .footer__logo {
        position: relative;
    }

    .footer__tagline {
        // display: flex;
        // display: inline-block; //make the span respect width and height
        // flex-direction: row;

        // position: relative;
        // justify-content: space-around;
        // align-items: center;
        // width: 100%;
    }

    .footer__info {
        // display: flex;
        // display: inline-block;
        // flex-direction: column;
        // justify-content: space-between;
    }

    .footer__url {
        // display: flex;
        // display: inline-block;
        // flex-direction: column;
        // justify-content: space-between;
    }

    .button--nav:hover .button--nav__text {
        color: var(--button-hover-text-color, black);
    }
</style>
